[submodule "Plugins/glTFRuntime"]
	path = Plugins/glTFRuntime
	url = https://github.com/rdeioris/glTFRuntime.git
[submodule "Plugins/ReadyPlayerMe"]
	path = Plugins/ReadyPlayerMe
	url = https://github.com/readyplayerme/rpm-unreal-sdk.git
[submodule "Plugins/SocketIOClient-Unreal"]
	path = Plugins/SocketIOClient-Unreal
	url = https://github.com/getnamo/SocketIOClient-Unreal.git
